h1 {
    text-decoration-color: rgba(39, 93, 245, 0.8);
    color: rgba(39, 93, 245, 0.8);
}


table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid rgba(39, 93, 245, 0.8);
}

th {
    background-color: rgba(39, 93, 245, 0.8);
    border: 1px solid rgba(39, 93, 245, 0.8);
    font-weight: normal;
    text-align: center;
    color: white;
    
}

@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th, td {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

/* unvisited link */
a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }
